# Ignore hidden files by default
.*

# Ignore backup files by default
*~

# Include specific hidden files
!.*ignore
!.*rc
!.*rc.json
!.editorconfig
!.env
!.gitattributes
!.gitmodules

# Build directories for various tools
build/
dist/
dist-libs/
target/
coverage/
out/
test-output/

# IDE artifacts
*.iml
*.ipr

# Miscellaneous files
**.lock
**.log*

# Local files
gradle-local*.properties

*.war

# QuickStart files
entities.layout.json
